<!DOCTYPE html>

<html>
    <head>
        <title>113305509_余泰澤</title>
        <link rel="stylesheet" href="D:\HW3_htmlandcss\static\css\113305509_css.css">
    </head>
    <body>
        <ul class="navbar">
            <li><a href="">關於我們</a></li>
            <li class="dropdown">
                <a href="#">連結 ▼</a>
                <ul class="dropdown-content">
                    <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="https://www.youtube.com" target="_blank">YouTube</a></li>
                    <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
                    <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
                </ul>
            </li>
        </ul>

        <h1>3 Facts About Me</h1>
        <center>
            <table border="1">
            <tr>
                <td>
                    <a href="file:///D:/HW3_htmlandcss/templates/113305509_detail.html">
                        <img src="D:\HW3_htmlandcss\static\img\tw.png" width="300">
                    </a>
                </td>
                <td>
                    <a href="file:///D:/HW3_htmlandcss/templates/113305509_detail.html">
                        <img src="D:\HW3_htmlandcss\static\img\ncu.jpg" width="300">
                    </a>
                </td>
                <td>
                    <a href="file:///D:/HW3_htmlandcss/templates/113305509_detail.html">
                        <img src="D:\HW3_htmlandcss\static\img\guitar.jpg" width="300">
                    </a>
                </td>
            </tr>
            <tr>
                <td>from Taiwan</td>
                <td>study in NCU</td>
                <td>play guitar</td>
            </tr>
        </table>
        </center>
        
    </body>
</html>