<!DOCTYPE html>

<html>
    <head>
        <title>113305509_余泰澤</title>
        <link rel="stylesheet" href="..\static\css\113305509_css.css">
    </head>
    <body>
        <h1>NCU</h1>
        <ul>
            <li>since 1915</li>
            <li>located in Taoyuan</li>
            <li>22 departments</li>
        </ul>
     
        
        <img src="..\static\img\ncu.jpg" width="300">
        <iframe src="https://www.youtube.com/embed/wJ_f7YAv4tw"></iframe>

        <hr>

        <h1>回饋表單</h1>
        <label>姓名:<input></label>
        <input type="checkbox">
        <label>匿名</label>

        <p>你是從哪裡知道這個網站的?</p>
        <form>
            <select>
                <option disabled selected>請選擇</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </form>

        <p>你最喜歡的休閒活動:</p>
        <form>
            <input type="radio" name="radio_1">
            <label>運動</label><br>
            <input type="radio" name="radio_1">
            <label>音樂</label><br>
            <input type="radio" name="radio_1">
            <label>閱讀</label><br>
        </form>
        
        <p>你平常喜歡的音樂類型(可複選)</p>
        <form>
            <input type="checkbox" name="checkbox_1">
            <label>流行</label><br>
            <input type="checkbox" name="checkbox_2">
            <label>搖滾</label><br>
            <input type="checkbox" name="checkbox_3">
            <label>古典</label><br>
            <input type="checkbox" name="checkbox_4">
            <label>爵士</label><br>
        </form>

        <p>備註:</p>
        <textarea rows="4" cols="40"></textarea>
        <br>
        <a href="..\templates\113305509_index.html">
            <button>送出留言</button>
        </a>
    </body>
</html>



